$ctrl-h: 40px;
$border: #ccc;
$color: #333;

html, body {
  font-size: 16px;
}

.outer {
  height: 100%;
  position: relative;
}
.control-panel {
  width: 100%;
  height: $ctrl-h;
  border-bottom: 1px solid $border;
  position: relative;

  .view-panel {
    height: 24px;
    width: 100px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .op-panel {
    position: absolute;
    height: 32px;
    width: 200px;
    left: 16px;
    top: 50%;
    transform: translate(0, -50%);
  }
}
.editor-panel {
  position: absolute;
  top: $ctrl-h;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: stretch;
  justify-content: stretch;

  &.edit-only {
    .editor {
      width: 100%;
    }
    .preview {
      display: none;
    }
  }
  &.view-only {
    .editor {
      display: none;
    }
    .preview {
      width: 100%;
    }
  }

  .editor {
    width: 50%;
    box-sizing: border-box;
    padding: 0 16px;
    position: relative;
    display: flex;
    flex-direction: column;
    .title {
      height: 60px;
      border-bottom: 1px solid $border;
      box-sizing: border-box;
      margin-bottom: 12px;
    }
    .content {
      height: 100%;
    }
    .title-input {
      height: 58px;
      line-height: 58px;
      width: 100%;
      outline: none;
      font-size: 24px;
      border: none;
      color: $color;
    }
  }
  .preview {
    padding: 16px;
    width: 50%;
    box-sizing: border-box;
    border-left: 1px solid $border;
    overflow-y: auto;

    .preview-title {
      font-size: 36px;
      margin: 0;
      border-bottom: 1px solid #ccc;
      height: 72px;
      line-height: 56px;
      padding-bottom: 16px;
    }
  }
}